{% extends 'html/base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">Test App</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <a href="#" class="navbar-text">Log In</a>
</nav>




{% endblock content %}